p{
    color: blueviolet;
    text-transform: uppercase;
    letter-spacing: 5px;
}
h1{
    color: skyblue;
    text-transform: capitalize;
}
small{
    color: tomato;
    word-spacing: 20px;
}
#id{
    color: yellowgreen;
}
.id{
    color: goldenrod;
}
.desc a{
    color: indianred;
    text-decoration: none;
}
.chi > a{
color: skyblue;
text-decoration: none;
}
a:link{
    color: slateblue;
}
a:hover{
    color: springgreen;
}
a:visited{
    color: teal;
}
:target{
    color: tomato;
    background-color: violet;
    border: wheat;
}